@import '/src/styles/vars.scss';

.page {
  background: url('/src/images/background.jpg');
  font-family: 'Changa One';
  background-size: cover;
  position: relative;
  color: $color1;
  text-shadow: 2px 2px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 3;
}
