@import '/src/styles/vars.scss';
@import '/src/styles/button.scss';

.options__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 860px) {
    margin-bottom: 5px;
  }

}

.options__title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
  width: 170px;
  background: linear-gradient(120deg,  $color2 10%, $color1 80%, $color2); 
  transform: perspective(120px) rotateX(12deg);
}

.options__title-block_dark {
  background: linear-gradient(120deg,  $color5 10%, $color4 80%, $color5); 
}

.options__title {
  background: linear-gradient(180deg,  $color3 10%, $color2 80%, $color3); 
  height: 20px;
  width: 160px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  color:$color1;
  text-shadow: 2px 2px 2px black;
}

.options__title_dark {
  color:$color4;
}

.options__info-blocks-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 0 5px 0;
  width: 200px;
  color: $color1;
  text-shadow: 2px 2px 2px black;
  background: linear-gradient(to top left,  $color2, $color1, $color2); 
  box-shadow: inset rgba(252,255,255,.7) 0 2px 2px, rgba(0,0,0,.8) 0 2px 2px -1px;
  
  @media screen and (max-width: 860px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    justify-content: space-around;
  }

}


.options__info-blocks-container_dark {
  color: $color4;
  background: linear-gradient(to top left,  $color5, $color4, $color5); 
}

.info-block {
  display: flex;
  justify-content: space-between;
  width: 180px;
  display: flex;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 5px;

  @media screen and (max-width: 860px) {
    font-size: 12px;
    width: 70px;
    padding: 0px;
  }

}


.subtitle {
  background: linear-gradient(180deg,  $color3 10%, $color2 80%, $color3); 
  height: 30px;
  width: 80px;
  border-radius: 5px;
  text-align: center;

  @media screen and (max-width: 860px) {
    height: 20px;
    width: 40px;
  }
}

.counter {
  background: linear-gradient(180deg,  $color3 10%, $color2 80%, $color3); 
  border-radius: 5px;
  width: 70px;
  height: 30px;
  text-align: center;
  @media screen and (max-width: 860px) {
    height: 20px;
    width: 30px;
  }
}

.options__button {
  margin-bottom: 10px;
  @media screen and (max-width: 860px) {
    margin-bottom: 3px;
  }
}

.options__button_green {
  background: linear-gradient(180deg,  rgb(106, 238, 44), rgb(202, 238, 105));
}

.options__button_yellow {
  background: linear-gradient(180deg,  rgb(245, 212, 68), rgb(202, 238, 105));
}

.options__button_purple {
  background: linear-gradient(180deg,  rgb(148, 40, 219), rgb(218, 195, 233));
}

.options__button_rose {
  background: linear-gradient(180deg,  rgb(219, 40, 180),  rgb(236, 178, 224));
}

.options__button_blue {
  background: linear-gradient(180deg,  rgb(40, 103, 219),   rgb(180, 189, 206));
}