@import '/src/styles/vars.scss';

.sound-block {
  display: flex;
  align-items: center;
}

.sound-block__label {
  background: linear-gradient(180deg,  $color3 10%, $color2 80%, $color3); 
  height: 40px;
  margin-left: 40px;
  margin-bottom: 5px;
  width: 100px;
  border-radius: 5px;
  justify-content: space-around;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.sound-block__marker {
  cursor: pointer;
  accent-color: yellow;
}